In [1]:
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd
import numpy as np
import dash_bootstrap_components as dbc

In [2]:
df = pd.read_csv('data.csv')
df

,Month,Locals,Expatriates,Headcount,Percent Local,Sick Leave,Hours Late,Unpaid Leaves,Incentive Paid,Overtime Paid,...,Percent Hr Expenses Vs Budget,Training Hours,Trained Employees,HR Headcount,Percent Automated Processes,Percent High Performers,Percent Low Performers,Percent Training Effectiveness Index,Percent Training Plan Achieved,Percent Manpower Plan Achieved
0,Jan,"1,000","2,700","3,700",27%,33,33,120,"887,209","150,000",...,80%,120,45,320,18%,10%,22%,80%,70%,22%
1,Feb,"1,100","2,800","3,900",28%,12,50,300,"665,840","550,403",...,70%,100,40,320,33%,10%,19%,85%,55%,50%
2,Mar,"1,101","2,900","4,001",28%,2,120,450,"398,485","1,223,002",...,55%,92,19,290,45%,12%,15%,70%,40%,60%
3,Apr,900,"3,000","3,900",23%,11,70,100,"150,003","900,540",...,90%,76,5,290,60%,11%,12%,74%,80%,90%
4,May,"1,110","2,700","3,810",29%,14,26,11,"433,779","248,723",...,60%,84,75,281,60%,12%,12%,70%,89%,90%
5,Jun,"1,000","2,713","3,713",27%,33,94,75,"516,453","207,989",...,70%,85,58,337,66%,19%,12%,70%,60%,87%
6,Jul,"1,009","2,710","3,719",27%,98,66,35,"789,394","245,972",...,70%,114,73,345,70%,10%,12%,80%,50%,87%
7,Aug,"1,003","2,600","3,603",28%,80,46,71,"407,225","798,950",...,40%,51,158,308,71%,4%,19%,76%,97%,89%
8,Sep,980,"2,500","3,480",28%,60,67,55,"281,429","450,543",...,20%,160,127,307,71%,8%,20%,54%,76%,87%
9,Oct,930,"2,400","3,330",28%,33,27,99,"730,379","330,499",...,90%,106,53,309,72%,19%,4%,77%,54%,54%
10,Nov,870,"2,300","3,170",27%,28,26,77,"117,709","541,242",...,100%,151,101,311,80%,20%,5%,76%,67%,78%
11,Dec,990,"2,210","3,200",31%,14,87,79,"888,950","253,079",...,100%,156,191,291,80%,33%,5%,90%,87%,86%

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 34 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Month                                   12 non-null     object
 1   Locals                                  12 non-null     object
 2   Expatriates                             12 non-null     object
 3   Headcount                               12 non-null     object
 4   Percent Local                           12 non-null     object
 5   Sick Leave                              12 non-null     int64
 6   Hours Late                              12 non-null     int64
 7   Unpaid Leaves                           12 non-null     int64
 8   Incentive Paid                          12 non-null     object
 9   Overtime Paid                           12 non-null     object
 10  Payroll Wages                           12 non-null     object
 11  Leavers                                 12 non-null     int64
 12  Joiners                                 12 non-null     int64
 13  Percent Outsource                       12 non-null     int64
 14  Part Timers                             12 non-null     int64
 15  Employees Aged Over 50                  12 non-null     int64
 16  Percent Females                         12 non-null     int64
 17  Corrective Actions                      12 non-null     int64
 18  Contract Termination                    12 non-null     int64
 19  Probation Period Termination            12 non-null     int64
 20  Leavers With Service Less Than 3 Years  12 non-null     int64
 21  Percent Turnover                        12 non-null     object
 22  Retried Employees                       12 non-null     int64
 23  Avg Age                                 12 non-null     int64
 24  Percent Hr Expenses Vs Budget           12 non-null     object
 25  Training Hours                          12 non-null     int64
 26  Trained Employees                       12 non-null     int64
 27  HR Headcount                            12 non-null     int64
 28  Percent Automated Processes             12 non-null     object
 29  Percent High Performers                 12 non-null     object
 30  Percent Low Performers                  12 non-null     object
 31  Percent Training Effectiveness Index    12 non-null     object
 32  Percent Training Plan Achieved          12 non-null     object
 33  Percent Manpower Plan Achieved          12 non-null     object
dtypes: int64(18), object(16)
memory usage: 3.3+ KB

In [4]:
def clean_df(data, col, col_name):
    l = []
    for i in col.items():
        temp = i[1].split(',')
        temp = ''.join(map(str, temp))
        l.append(temp)

    col = pd.to_numeric(pd.Series(l))
    data[col_name] = col

In [5]:
col_names = ['Locals', 'Expatriates', 'Headcount', 'Incentive Paid', 'Overtime Paid']

for col_name in col_names:
    col = df[col_name]
    clean_df(df, col, col_name)
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 34 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Month                                   12 non-null     object
 1   Locals                                  12 non-null     int64
 2   Expatriates                             12 non-null     int64
 3   Headcount                               12 non-null     int64
 4   Percent Local                           12 non-null     object
 5   Sick Leave                              12 non-null     int64
 6   Hours Late                              12 non-null     int64
 7   Unpaid Leaves                           12 non-null     int64
 8   Incentive Paid                          12 non-null     int64
 9   Overtime Paid                           12 non-null     int64
 10  Payroll Wages                           12 non-null     object
 11  Leavers                                 12 non-null     int64
 12  Joiners                                 12 non-null     int64
 13  Percent Outsource                       12 non-null     int64
 14  Part Timers                             12 non-null     int64
 15  Employees Aged Over 50                  12 non-null     int64
 16  Percent Females                         12 non-null     int64
 17  Corrective Actions                      12 non-null     int64
 18  Contract Termination                    12 non-null     int64
 19  Probation Period Termination            12 non-null     int64
 20  Leavers With Service Less Than 3 Years  12 non-null     int64
 21  Percent Turnover                        12 non-null     object
 22  Retried Employees                       12 non-null     int64
 23  Avg Age                                 12 non-null     int64
 24  Percent Hr Expenses Vs Budget           12 non-null     object
 25  Training Hours                          12 non-null     int64
 26  Trained Employees                       12 non-null     int64
 27  HR Headcount                            12 non-null     int64
 28  Percent Automated Processes             12 non-null     object
 29  Percent High Performers                 12 non-null     object
 30  Percent Low Performers                  12 non-null     object
 31  Percent Training Effectiveness Index    12 non-null     object
 32  Percent Training Plan Achieved          12 non-null     object
 33  Percent Manpower Plan Achieved          12 non-null     object
dtypes: int64(23), object(11)
memory usage: 3.3+ KB

In [6]:
cleaned_df = df
cleaned_df

,Month,Locals,Expatriates,Headcount,Percent Local,Sick Leave,Hours Late,Unpaid Leaves,Incentive Paid,Overtime Paid,...,Percent Hr Expenses Vs Budget,Training Hours,Trained Employees,HR Headcount,Percent Automated Processes,Percent High Performers,Percent Low Performers,Percent Training Effectiveness Index,Percent Training Plan Achieved,Percent Manpower Plan Achieved
0,Jan,1000,2700,3700,27%,33,33,120,887209,150000,...,80%,120,45,320,18%,10%,22%,80%,70%,22%
1,Feb,1100,2800,3900,28%,12,50,300,665840,550403,...,70%,100,40,320,33%,10%,19%,85%,55%,50%
2,Mar,1101,2900,4001,28%,2,120,450,398485,1223002,...,55%,92,19,290,45%,12%,15%,70%,40%,60%
3,Apr,900,3000,3900,23%,11,70,100,150003,900540,...,90%,76,5,290,60%,11%,12%,74%,80%,90%
4,May,1110,2700,3810,29%,14,26,11,433779,248723,...,60%,84,75,281,60%,12%,12%,70%,89%,90%
5,Jun,1000,2713,3713,27%,33,94,75,516453,207989,...,70%,85,58,337,66%,19%,12%,70%,60%,87%
6,Jul,1009,2710,3719,27%,98,66,35,789394,245972,...,70%,114,73,345,70%,10%,12%,80%,50%,87%
7,Aug,1003,2600,3603,28%,80,46,71,407225,798950,...,40%,51,158,308,71%,4%,19%,76%,97%,89%
8,Sep,980,2500,3480,28%,60,67,55,281429,450543,...,20%,160,127,307,71%,8%,20%,54%,76%,87%
9,Oct,930,2400,3330,28%,33,27,99,730379,330499,...,90%,106,53,309,72%,19%,4%,77%,54%,54%
10,Nov,870,2300,3170,27%,28,26,77,117709,541242,...,100%,151,101,311,80%,20%,5%,76%,67%,78%
11,Dec,990,2210,3200,31%,14,87,79,888950,253079,...,100%,156,191,291,80%,33%,5%,90%,87%,86%

In [7]:
mask = cleaned_df.Month == 'Jan'
m_selection = cleaned_df[mask][['Locals', 'Expatriates']]
m_selection

   Locals  Expatriates
0    1000         2700

In [8]:
m_selection = m_selection.melt(var_name='Staff', value_name='#StaffCount')
m_selection

         Staff  #StaffCount
0       Locals         1000
1  Expatriates         2700

#### Dashboard

In [73]:
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.YETI])

colors = {
    'yaleblue': '#064789',
    'steelblue': '#427aa1',
    'aliceblue': '#ebf2fa',
    'claret': '#840032',
    'gamboge': '#e59500'
    
}

app.layout = dbc.Container([
                html.H2('ABC Human Resources Dashboard', className='mb-5 text-center font-weight-bold'),
                dbc.Row([
                    dbc.Col([
                        html.Label("Select a month"),
                        dcc.Dropdown(
                            id='month-dropdown',
                            options=[{'label': str(i), 'value': str(i)} for i in cleaned_df.copy().Month],
                            value='Jan'
                        ),
                    ], width=1),
                    
                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([
                                html.H6('Staff', className='card-title text-center'),
                                html.Hr(),
                                dcc.Graph(id='pie-chart', figure={}, config={'displayModeBar': False}, style={'height': 250}),
                           ])
                        ], className='mr-1')
                    ], width={'size': 2, 'offset': 1}),

                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([])
                        ])
                    ], width=1),

                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([])
                        ])
                    ], width=1),

                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([])
                        ])
                    ], width=2),

                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([])
                        ])
                    ], width=3),

                    dbc.Col([
                        dbc.Card([
                            dbc.CardBody([])
                        ])
                    ], width=1),
                ], no_gutters=True, className='mb-2'), #row1
        ], fluid=True) #container

# Pie Chart
@app.callback(
    Output('pie-chart', 'figure'),
    Input('month-dropdown', 'value'),
)
def update_pie(month_chosen):
    dff = cleaned_df.copy()
    mask = dff.Month == month_chosen
    my_selection = dff[mask][['Locals', 'Expatriates']]
    select_melted = my_selection.melt(var_name='Staff', value_name='#StaffCount')
    fig_pie = px.pie(select_melted, values='#StaffCount', names='Staff', 
                 template='ggplot2', color_discrete_sequence=[colors['yaleblue'], colors['aliceblue']])
   
    fig_pie.update_layout(margin=dict(l=0, r=0, t=0, b=0), legend=dict(orientation="h", yanchor="bottom", y=1.02,
                                                                       xanchor="right", x=1))
    
    return fig_pie


app.run_server(mode='jupyterlab')